<!-- <div class="tab-content">-->
     <script type = "text/javascript" src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
     <style type="text/css">
       .t1{
        width: 30px;
        border: 2px solid #3333;
       }
         .table1{

    width: 30%;
    border-radius: 2px;
}.table-bordered1 {
    border: 2px solid #3333;
}
     </style>
    <div id="city" > 
      <h3>City</h3>
        <label>Enter City</label>
        <input type="text" name="City" placeholder="Enter City Name" ng-model="c.City" required/>
        <input type="button" value="Submit" ng-click="Addc()" class="btn btn-success"/>

        <td ><input type="button" value="Update" ng-click="updatec()" class="btn btn-primary"/></td>
        <div ng-show="data"><br>
        <center>
    <table class="table1 table-bordered1 "  border="2">
      
            <tr ng-repeat="dt in details">      
            <td>{{dt.City}}</td>
           <td ><button ng-click="Editc(dt)" class="btn btn-primary ">Edit Data</button></td>
        <!-- <td><button ng-click="Removec(dt)">Delete Data</button></td> -->
         <td><button ng-click="Removec(dt)" class="btn btn-danger">Remove</button></td>
      </tr>
    </table>
    </center>
    </div>