<!-- <div class="tab-content">-->
   
   <script type = "text/javascript" src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
   <!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>  
<!-- <style>
input.ng-invalid {
    background-color:white;
}
input.ng-valid {
    background-color:lightgreen;
}
</style> -->
<body ng-app="">
    <div id="timing" > 
      <h3>Timing</h3>
      <form name="Timing">
        <label>Enter Timing</label>
        <input type="text" name="timing" placeholder="Enter Timing" ng-model="t.showTimings" required/>
         <span style="color:red" ng-show="Timing.timing.$dirty && Timing.timing.$invalid">
            <span ng-show="Timing.timing.$error.required">Timing is required.</span>
                            </span> 
        <input type="button" value="Submit" ng-click="Addt()" ng-disabled="Timing.timing.$dirty && Timing.timing.$invalid" class="btn btn-success"/>
        <td><input type="button" value="Update" ng-click="updatet()" class="btn btn-primary"/></td>
        <div ng-show="data">
    <table class="table table-bordered table-hover">
      
            <tr ng-repeat="dt in details">      
            <td>{{dt.showTimings}}</td>
           <td><button ng-click="Editt(dt)" class="btn btn-primary">Edit Data</button></td>
        <td><button ng-click="Removet(dt)" class="btn btn-danger">Delete Data</button></td>
      </tr>
    </table>
    </form>
    </div>